<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row" id="mars-data">
      <div class="col-md-12">
        <h4 class="heading">{{mars["news"][0]["title"]}}</h4>
        <p>{{mars["news"][0]["summary"]}}</p>
      </div>
    <div class="row" id="mars-data">
      <div class="col-md-8">
        <h4 class="heading">Featured Mars Image</h4>
        <a href="https://www.jpl.nasa.gov">
          <img src="{mars_data["featured_image_url"][0]["image url"]}" title="Example Image Link" width="600" height="400" />
        </a>
      <div class="col-md-4">
          <h4 class="heading">Current Weather on Mars</h4>
          <p>{{mars_data["mars_weather"][0]["mars_weather"]}}</p>
      </div>
    <div class="row" id="mars-data">
      <div class="col-md-4">
            <h4 class="heading">Mars Facts</h4>
            <a href="file:///C:/Users/purchasing/webscrapinghomework/marsfacts_table.html"></a>
        </div>

    </div>

  </div>
</body>

</html>

